
   <div >
         <h1 align="center">Mentor mentee dashboard for {{user}}</h1>          
   </div>

   <div class ="row">
        <div >
         <button (click) ="Addementor()" >Add a mentor</button>
          <button (click) ="Creatementor()">Become a mentor</button>
          <div>
              
            </div>
        </div>
   </div>

   <div >
        <h3>List of mentors </h3>  
   </div>
 
   <table  class="tablecontainer" >
       <tr >
            <th class="tablecontainer">Name</th>
            <th class="tablecontainer">Lecture</th> 
            <th class="tablecontainer">Time</th>
       </tr>   
       <tr *ngFor ="let detail of mentorlist;let i = index ">
          <td class="tablecontainer">
              {{detail.name}}
          </td> 
          <td class="tablecontainer">
              {{detail.category}}
          </td> 
          <td class="tablecontainer">
              {{detail.schedule}}
          </td> 
      </tr>
   </table>

    <div>
        <h3>List of mentees </h3>  
    </div>
    <table  class="tablecontainer">
       <tr >
            <th class="tablecontainer">Name</th>
            <th class="tablecontainer">Lecture</th>           
       </tr>   
       <tr  *ngFor ="let detail of menteelist;let i = index ">
          <td class="tablecontainer">
              {{detail.name}}
          </td> 
          <td class="tablecontainer">
              {{detail.category}}
          </td> 
          
      </tr>
   </table>

    <div>
        <h3> Schedule Information </h3>  
    </div>
    <table  class="tablecontainer">
       <tr >
            <th class="tablecontainer">Lecture</th>
            <th class="tablecontainer">schedule</th>           
       </tr>   
       <tr  *ngFor ="let detail of mentorschedlist;let i = index ">
          <td class="tablecontainer">
              {{detail.category}}
          </td> 
          <td class="tablecontainer">
              {{detail.schedule}}
          </td> 
          
      </tr>
   </table>

