<h1>Add a mentor</h1>
 
     <div >
            <label>Select Category</label>
     </div>

         <div> 
         <select [(ngModel)] ='SelectedValue'>
            <option *ngFor ="let category of categorylist" >{{category}}</option>
        </select>
         
             <button (click)="fgetMentors()">Search</button>
         </div>
        <div><h1> </h1></div>
    <table  class="tablecontainer" *ngIf ="show"  >
       <tr >
            <th  class="tablecontainer">Name</th>
            <th  class="tablecontainer">Lecture</th>  
            <th  class="tablecontainer">date</th>  
            <th  class="tablecontainer"></th>  
            

       </tr>   
       <tr *ngFor ="let detail of mentorlist;let i = index ">
          <td  class="tablecontainer">
              {{detail.name}}
          </td> 
          <td  class="tablecontainer">
              {{detail.category}}
          </td> 

           <td  class="tablecontainer">
              {{detail.schedule}}
          </td> 

           <td  class="tablecontainer">
               <button (click)="faddMentor(i)" >Add</button>
          </td> 
          
      </tr>
   </table>
        
