<form [formGroup]="SignUp" (ngSubmit)="onSignUp()">
    <!---div><h1> Sign In</h1> </div>
    <div class ="form-Group" >
        <div> <label >Username  </label></div>
        <input 
            id="username" 
            type="text" 
            class="form-control"
            formControlName="username"
            required>
    </div>
   
    <div class ="form-Group">
       <div> <label >Password  </label></div>
        <input 
            id="password" 
            type="text" 
            class="form-control"
             formControlName="password"
             required>
    </div> <div><h2></h2></div>
    <button class="btn btn-primary" type="button">Sign In</button-->
    <h1>Welcome to Mentor mentee </h1>
    <input type="image" src="app/Sign-In.png" border="0" alt="Submit" />
</form>



 